{
  "HOST": "http://localhost:3000",
  "HOST_MAIL": "test0001@test.com",
  "MONGO_ATLAS_CONNECT_URL": "",

  "COOKIE_SECRET": "SECRET_KEY",
  "SECRET_KEY_DIR": "secret/secret.key",
  "JWT_PUBLIC_DIR": "secret/jwt-public.pem",
  "JWT_PRIVATE_DIR": "secret/jwt-private.pem",
  
  "AWS_S3_URL": "",
  "AWS_ACCESS_KEY": "",
  "AWS_SECRET_ACCESS_KEY": "",

  "OPENAI_ORG_ID": "",
  "OPENAI_API_KEY": "",

  "GA_PROPERTY_ID": "",
  "GA_CREDENTIALS_DIR": ""
}
